{{ JAIL_NAME }} {
    host.hostname = "{{ HOSTNAME }}-${name}";
    vnet=new;
    vnet.interface=epair{{ EPAIR_NUM }}b;
    path ="/usr/jail/${name}";
    mount.devfs;
    allow.raw_sockets;
    devfs_ruleset=4;
    exec.prestart = "ifconfig epair{{ EPAIR_NUM }} create up";
    exec.prestart += "ifconfig bridge0 addm epair{{ EPAIR_NUM }}a";
    exec.start = "/bin/sh /etc/rc";
    exec.stop = "ifconfig epair{{ EPAIR_NUM }}b down";
    exec.stop += "/bin/sh /etc/rc.shutdown";
    exec.poststop = "ifconfig epair{{ EPAIR_NUM }}a destroy";
}
